<div class="width">
  <div class="page_element">
    <h2>About</h2>
    <p>
      I have completed a Bachelor of Engineering at Trinity College Dublin, the University of Dublin.
      I have specialised into computer engineering, mainly interested in information systems and knowledge engineering.
      I’m currently finishing up my masters.
    </p>
    <p>
      Just another computer engineer with a camera.
    </p>
  </div>
</div>